
<article class="post">
    <div class="title">
        <h1 target="_blank">{{title}}></h1>
    </div>

     <div class="meta">
  {{favorite_count}} {{format_plural "point" favorite_count}} by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  <div>
      <input>
 </div>

</article>