<div class="card-body text-center">
    <div class="card-body">
        <h5 class="card-title">
            <h2>{{title}}</h2>
        </h5>
        <p class="card-text">
        <p>City: {{city}}, Country: {{country}}</p>
        <p>{{post_text}}</p>
        </p>
        <a href="/post/{{id}}" class="btn btn-dark">See More</a>
    </div>
</div>