
<article class="post">
    <div class="title">
        <h1 target="_blank">{{title}}></h1>
    </div>

     <div class="meta">
  {{favorite_count}} {{format_plural "point" favorite_count}} by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  
   {{!-- iframe here  --}}
    <script src="/public/javascript/api-key.js"></script>

</article>


{{!-- <body>
    <p id="startLat"></p>
    <p id="startLon"></p>


    <iframe
        width="450"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnB82CvVNS3w28K17eKRQ6keqSfOTpUok&q=" + {{ post.city }} + "+" + {{ post.country }} + "+" + allowfullscreen>
    </iframe>

    <script src="/javascript/add-post.js"></script>
    
</body> --}}
