<div class="card-body">
    <h5 class="card-title">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
    </h5>
    <div class="card-text"> 
        <p>{{post_text}}</p>
        <p>City: {{city}}</p> 
        <p>Country: {{country}}</p>

    </div>
</div>
