{{> post-info post}}

{{#if (check_user post.user.id user_id)}}


    <article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="postTitle" type="text" value="{{post.title}}" />
      <input name="postBody" type="text" value="{{post.post_text}}" />
      <input name="postCity" type="text" value="{{post.city}}" />
      <input name="postCountry" type="text" value="{{post.country}}" />
      {{!-- <span>({{format_url}})</span> --}}
    </div>
    {{!-- <div>
      {{post.favorite_count}} {{ post.favorite_count}} by you on {{post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{ post.comments.length}}</a> --}}
    </div>
    <button type="submit">Save post</button>
    {{!-- <button type="button" class="delete-post-btn">Delete post</button> --}}
  </form>
</article>

{{!-- <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form> --}}

{{!-- {{> post.comments}} --}}

<script src="/javascript/edit-post.js"></script>

{{!-- {{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}} --}}
{{/if}}

 

